@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form method="post">
        <div class="form-group">
            <label asp-for="YearName.Year"></label>
            <input asp-for="YearName.Year" class="form-control"><br />
        </div>
        <div><span style="font-weight: bold !important" asp-validation-for="YearName.Year" class="text-danger"></span></div>
        <div class="form-group">
            <label asp-for="YearName.Name"></label>
            <input asp-for="YearName.Name" class="form-control"><br />
        </div>
        <div><span style="font-weight: bold" asp-validation-for="YearName.Name" class="text-danger"></span></div>
        <button type="submit" class="btn btn-primary">Zatwierdż</button>
    </form>
    @if(Model.Arr != null) {
        <div class="alert alert-info">
            @Model.Arr[0] urodził/a się w @Model.Arr[1] roku. To @Model.Arr[2] był rok przestępny.
        </div>
    }
</div>
